/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    --font-semi: 600;
    /*===== Colores =====*/
    /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
    /* HSL color mode */
    --hue-color: 224;
    --first-color: hsl(var(--hue-color), 89%, 60%);
    --second-color: hsl(var(--hue-color), 56%, 12%);
    /*===== Fuente y tipografia =====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /*===== Margenes =====*/
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-back: -10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .875rem;
    }
}

/*===== BASE =====*/
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}


/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav__item {
    margin-top: 1.6rem;
}

/*===== NAV =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

section {
    width: 100%;
    height: 90vh;
    margin-top: 5rem;
}

.wrapper {
    width: 100%;
    height: 700px;
    position: absolute;
    margin-top: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dictionary-container {
    margin-top: 3rem;
    width: 500px;
    height: 500px;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 3px solid purple;
    border-bottom: 3px solid purple;
}

.flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.input {
    margin-top: 4rem;
    gap: 1rem;
    padding: 0px 30px;
}

input {
    width: 300px;
    height: 35px;
    outline: none;
    border: none;
    border-bottom: 3px solid pink;
    font-size: 19px;
}

.dataBody{
    height: 440px;
}
.result {
    margin-top: 4rem;
    padding: 0px 80px;
}
.phonetic{
    display: flex;
    justify-content: space-around;
}
.definiton {
    border-left: 2px solid rgb(244, 115, 136);
    width: 400px;
    position: absolute;
    top: 50%;
    left: 10%;
    display:flex ;
    flex-wrap: wrap;
}
.example{
    border-right: 2px solid rgb(244, 115, 136);
    width: 400px;
    position: absolute;
    top: 70%;
    left: 10%;
    display:flex ;
    flex-wrap: wrap;
}
i {
    font-size: 20px;
    cursor: pointer;
}
.error{
    margin-top: 50px;
    font-size: 28px;
    text-align: center;
}
.button-1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: #F082AC;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        /* background-color: var(--second-color); */
        background-color: #f4f4f4;
        transition: .5s;
    }
    .dictionary-container{
        width: 350px;
        height: 750px;
    }
    
    .flex {
      display: grid;
    }
    input {
        width: 200px;
    }
    .definiton {
        font-size: 15px;
        width: 240px;
    }
    .example{
      font-size: 15px;
      width: 240px;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: #000;
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav__logo {
    color: var(--second-color);
}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*Active menu*/
.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
    right: 0;
}

/* ===== MEDIA QUERIES=====*/

@media screen and (min-width: 768px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--second-color);
    }
}


/*========== FOOTER ==========*/
.footer__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
    text-align: center;
    margin-top: 20rem;
}

.footer__logo {
    font-size: var(--h3-font-size);
    color: #000;
    font-weight: var(--font-semi-bold);
}

.footer__description {
    display: block;
    font-size: var(--small-font-size);
    margin: .25rem 0 var(--mb-3);
}

.footer__social {
    font-size: 1.5rem;
    color: #000;
    margin-right: var(--mb-2);
}

.footer__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-2);
}

.footer__link {
    display: inline-block;
    color: var(--text-color);
    margin-bottom: var(--mb-1);
}

.footer__link:hover {
    color: var(--first-color);
}

.footer__copy {
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-top: 3.5rem;
}